{% extends 'admin/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
{% endblock%}

{% macro timeline_obj(color="blue", time_ago="0 days", icon="fas fa-question", description="No description", author_name="None", receiver_name="None", author_id="#", receiver_id="#", type="unknown") %}
<li>
  <div class="list-timeline-icon bg-{{ color }}">
    <i class="{{ icon }}"></i>
  </div>
  <div class="list-timeline-content">
    <div class="list-timeline-time">{{ time_ago }}</div>
    <p class="list-timeline-title"><a href="https://seventwentyseven.tk/u/{{ author_id }}">{{ author_name }}</a> {{ type }} <a href="https://seventwentyseven.tk/u/{{ receiver_id }}">{{ receiver_name }}</a></p>
    <p class="text-muted">{{ description }}</p>
  </div>
</li>
{% endmacro %}

{% macro card(title='base', haschart=true, chartname='base', data="0") %}
<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div class="subheader">{{ title }}</div>
    </div>
    <div class="d-flex align-items-baseline">
      <div class="h1 mb-0 me-2">{{ data }}</div>
    </div>
  </div>
    {% if haschart %}
    <div id="chart-{{ chartname }}" class="chart-sm"></div>
    {% endif %}
</div>
{% endmacro %}

{% block content %}
<script>
  var element = document.getElementById("navbar_home");
  element.classList.add("active");
</script>
<div class="page-wrapper">
  <!-- Page title -->
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Overview
          </div>
          <h2 class="page-title">
            Dashboard
          </h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Cards -->
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-sm-6 col-lg-3">
          {{ card(title='Registered Users', data=dash_data['registered']) }}
        </div>
        <div class="col-sm-6 col-lg-3">
          {{ card(title='Restricted Users',data=dash_data['banned']) }}
        </div>
        <div class="col-sm-6 col-lg-3">
          {{ card(title='Supporters',data=dash_data['supporter']) }}
        </div>
        <div class="col-sm-6 col-lg-3">
          {{ card(title='Latest User',data=dash_data['latest_user']) }}
        </div>
        <div class="col-lg-6">
          <div class="row row-cards">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Recent Actions</h3>
                </div>
                <div class="card-body">
                  <ul class="list list-timeline">
                    {% for el in recent_logs %}
                    {{ timeline_obj(color=el['color'], time_ago=el['time'], icon=el['icon'], description=el['msg'], author_name=el['author_name'], receiver_name=el['receiver_name'], author_id=el['from'], receiver_id=el['to'], type=el['type']) }}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row row-cards">
            <div class="col-12">
              <div class="card">
                <div class="card-img-top img-responsive img-responsive-4by3" style="background-image: url(https://assets.ppy.sh/beatmaps/{{ most_played['set_id'] }}/covers/cover.jpg);"></div>
                <div class="card-body">
                  <p>The most played beatmap is <strong>{{ most_played['map_info'] }}</strong></p>
                  <p>This map has playcount of <strong>{{ most_played['passes'] }}</strong></p>
                  <center>
                    <a href="#" class="btn btn-primary">
                      View Map
                    </a>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<script src="/static/js/pages/admin/dashboard.js"></script>
{% endblock %}
