{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/home.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% macro l_usr_card(id, name, country, time_ago) %}
<div class="latest-user-element">
  <div class="avatar" style="background-image: url(https://a.seventwentyseven.tk/{{id}});"></div>
  <div class="name">
    <div class="latest-users-element-text">
      <a href="https://seventwentyseven.tk/u/{{ id }}" class="profile-link">
        <span class="latest-users-element-text"><img src="static/images/flags/{{ country }}.png" class="flag">{{name}}</span>
      </a>
    </div>
  </div>
  <div class="timeago">
    <div class="latest-users-element-text-r">
      <span class="latest-users-element-text-r">{{ time_ago }}</span>
    </div>
  </div>
</div>
{% endmacro %}
{% block content %}
<script>
  axios.get('https://osu.seventwentyseven.tk/api/get_player_count')
  .then((response) => {
    var online = response.data.counts.online;
    var registered = response.data.counts.total;
    document.getElementById('online').innerHTML = online;
    document.getElementById('registered').innerHTML = registered;
  });
</script>
{% if flash %}
<div class='noti-banner noti-banner-warning'>
  <div class="container">
    <div class="noti-column">
      <div class='noti-col noti-col-icon'></div>
      <div class='noti-col noti-col-label'>
        <div class='noti-bannertype'>
          {% if status=='error' %}
          Warning
          {% elif status=='success' %}
          Notice
          {% endif %}
        </div>
        <div class='noti-bannertext'>
          {% if status=='error' %}
          Uh oh! Be careful!
          {% elif status=='success' %}
          Hey! Listen!
          {% endif %}
        </div>
      </div>
      <div class='noti-banner-text'>
        {{ flash }}
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="hero splash p-less is-fullheight-with-navbar" id="home-hero">
  <div class="container flex">
    <div class="columns flex-vcenter">
      <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd" id="title">
        <div class="server-stats-2">
          <div class="server-stats-online">
            <span><span id="online" style="color: #49fa55;"></span> ONLINE</span>
          </div>
          <div class="server-stats-registered">
            <span><span id="registered" style="color: #ff4bf3;"></span> REGISTERED</span>
          </div>
        </div>
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd">Seven Twenty Seven<span style="font-size: 28px; font-weight: 400;">.tk</span></h1>
        <h2 class="subtitle">
          We are an osu! private server built from the ground up with many
          unique features not seen elsewhere - for more information, check
          out <a href="http://github.com/cmyui/gulag">gulag</a>
          and <a href="https://github.com/Varkaria/guweb">guweb</a>
          on GitHub - we're fully open source!
        </h2>
        {% if not session.authenticated %}
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
        {% endif %}
      </div>
      <div class="column flex flex-lcenter" id="mascot">
        <div class="gulag-avatar"></div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Some of our coolest features</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-address-card"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP for Relax and Autopilot</h4>
            <p class="subtitle is-6">Our server has unique pp formula for relax and autopilot.
              Good at waving your cursor or just smashing your keyboard? Join {{ appName() }} and get a fair reward for
              your skills!
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-ambulance"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Free osu!direct</h4>
            <p class="subtitle is-6">You won't have to pay for osu!supporter to have a convenient gameplay experience in
              the
              client - osu!direct is available for everyone! Keep in mind supporting us still grants a huge set of cool
              perks but
              absense of it doesn't affect your game sessions!</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-archive"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Flexible library</h4>
            <p class="subtitle is-6">We're written on top of cmyui's multipurpose library allowing for a fully
              asynchronous environment, both improving performance and the user's experience in the long term!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if record is defined %}
<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">PP Records and Recent users</h2>
  </div>
  <div class="server-stats">
    <div class="pp-std-vn">
      <div class="stat-block" style="background: linear-gradient(hsl(var(--main), 15%, 15%, 0.8), hsl(var(--main), 15%, 15%, 0.8)), url(https://assets.ppy.sh/beatmaps/{{ record['std-vn']['set_id'] }}/covers/card.jpg); background-size: cover; background-position-x: 50%;">
        <div class="stat-mode-name">
          <i class="mode-icon mode-osu"></i> <a href="https://seventwentyseven.tk/score/{{ record['std-vn']['id'] }}/vn" class="stat-mode-scorelink">Vanilla Osu Record</a>
        </div>
        <div class="stat-avatar-pp">
          <img src="https://a.seventwentyseven.tk/{{ record['std-vn']['userid'] }}" class="stat-avatar-img" onError="this.src='/static/images/avatar_notwork.png';"><span> {{ record['std-vn']['pp'] }}  <strong>PP</strong></span>
        </div>
        <div class="stat-user">
          <span>Played by <a href="https://seventwentyseven.tk/u/{{ record['std-vn']['userid'] }}" style="font-weight: 500 !important;">{{ record['std-vn']['name'] }}</a></span>
        </div>
      </div>
    </div>
    <div class="pp-std-rx">
      <div class="stat-block" style="background: linear-gradient(hsl(var(--main), 15%, 15%, 0.8), hsl(var(--main), 15%, 15%, 0.8)), url(https://assets.ppy.sh/beatmaps/{{ record['std-rx']['set_id'] }}/covers/card.jpg); background-size: cover; background-position-x: 50%;">
        <div class="stat-mode-name">
          <i class="mode-icon mode-osu"></i> <a href="https://seventwentyseven.tk/score/{{ record['std-rx']['id'] }}/rx" class="stat-mode-scorelink">Relax Osu Record</a>
        </div>
        <div class="stat-avatar-pp">
          <img src="https://a.seventwentyseven.tk/{{ record['std-rx']['userid'] }}" class="stat-avatar-img" onError="this.src='/static/images/avatar_notwork.png';"><span> {{ record['std-rx']['pp'] }}  <strong>PP</strong></span>
        </div>
        <div class="stat-user">
          <span>Played by <a href="https://seventwentyseven.tk/u/{{ record['std-rx']['userid'] }}" style="font-weight: 500 !important;">{{ record['std-rx']['name'] }}</a></span>
        </div>
      </div>
    </div>
    <div class="pp-std-ap">
      <div class="stat-block" style="background: linear-gradient(hsl(var(--main), 15%, 15%, 0.8), hsl(var(--main), 15%, 15%, 0.8)), url(https://assets.ppy.sh/beatmaps/{{ record['std-ap']['set_id'] }}/covers/card.jpg); background-size: cover; background-position-x: 50%;">
        <div class="stat-mode-name">
          <i class="mode-icon mode-osu"></i> <a href="https://seventwentyseven.tk/score/{{ record['std-ap']['id'] }}/ap" class="stat-mode-scorelink">Autopilot Osu Record</a>
        </div>
        <div class="stat-avatar-pp">
          <img src="https://a.seventwentyseven.tk/{{ record['std-ap']['userid'] }}" class="stat-avatar-img" onError="this.src='/static/images/avatar_notwork.png';"><span> {{ record['std-ap']['pp'] }}  <strong>PP</strong></span>
        </div>
        <div class="stat-user">
          <span>Played by <a href="https://seventwentyseven.tk/u/{{ record['std-ap']['userid'] }}" style="font-weight: 500 !important;">{{ record['std-ap']['name'] }}</a></span>
        </div>
      </div>
    </div>
    <div class="pp-taiko-vn">
      <div class="stat-block" style="background: linear-gradient(hsl(var(--main), 15%, 15%, 0.8), hsl(var(--main), 15%, 15%, 0.8)), url(https://assets.ppy.sh/beatmaps/{{ record['taiko-vn']['set_id'] }}/covers/card.jpg); background-size: cover; background-position-x: 50%;">
        <div class="stat-mode-name">
          <i class="mode-icon mode-taiko"></i> <a href="https://seventwentyseven.tk/score/{{ record['taiko-vn']['id'] }}/vn" class="stat-mode-scorelink">Vanilla Taiko Record</a>
        </div>
        <div class="stat-avatar-pp">
          <img src="https://a.seventwentyseven.tk/{{ record['taiko-vn']['userid'] }}" class="stat-avatar-img" onError="this.src='/static/images/avatar_notwork.png';"><span> {{ record['taiko-vn']['pp'] }}  <strong>PP</strong></span>
        </div>
        <div class="stat-user">
          <span>Played by <a href="https://seventwentyseven.tk/u/{{ record['taiko-vn']['userid'] }}" style="font-weight: 500 !important;">{{ record['taiko-vn']['name'] }}</a></span>
        </div>
      </div>
    </div>
    <div class="pp-taiko-rx">
      <div class="stat-block" style="background: linear-gradient(hsl(var(--main), 15%, 15%, 0.8), hsl(var(--main), 15%, 15%, 0.8)), url(https://assets.ppy.sh/beatmaps/{{ record['taiko-rx']['set_id'] }}/covers/card.jpg); background-size: cover; background-position-x: 50%;">
        <div class="stat-mode-name">
          <i class="mode-icon mode-taiko"></i> <a href="https://seventwentyseven.tk/score/{{ record['std-rx']['id'] }}/rx" class="stat-mode-scorelink">Relax Taiko Record</a>
        </div>
        <div class="stat-avatar-pp">
          <img src="https://a.seventwentyseven.tk/{{ record['taiko-rx']['userid'] }}" class="stat-avatar-img" onError="this.src='/static/images/avatar_notwork.png';"><span> {{ record['taiko-rx']['pp'] }}  <strong>PP</strong></span>
        </div>
        <div class="stat-user">
          <span>Played by <a href="https://seventwentyseven.tk/u/{{ record['taiko-rx']['userid'] }}" style="font-weight: 500 !important;">{{ record['taiko-rx']['name'] }}</a></span>
        </div>
      </div>
    </div>
    <div class="pp-catch-vn">
      <div class="stat-block" style="background: linear-gradient(hsl(var(--main), 15%, 15%, 0.8), hsl(var(--main), 15%, 15%, 0.8)), url(https://assets.ppy.sh/beatmaps/{{ record['catch-vn']['set_id'] }}/covers/card.jpg); background-size: cover; background-position-x: 50%;">
        <div class="stat-mode-name">
          <i class="mode-icon mode-catch"></i> <a href="https://seventwentyseven.tk/score/{{ record['catch-vn']['id'] }}/vn" class="stat-mode-scorelink">Vanilla Catch Record</a>
        </div>
        <div class="stat-avatar-pp">
          <img src="https://a.seventwentyseven.tk/{{ record['catch-vn']['userid'] }}" class="stat-avatar-img" onError="this.src='/static/images/avatar_notwork.png';"><span> {{ record['catch-vn']['pp'] }}  <strong>PP</strong></span>
        </div>
        <div class="stat-user">
          <span>Played by <a href="https://seventwentyseven.tk/u/{{ record['catch-vn']['userid'] }}" style="font-weight: 500 !important;">{{ record['catch-vn']['name'] }}</a></span>
        </div>
      </div>
    </div>
    <div class="pp-catch-rx">
      <div class="stat-block" style="background: linear-gradient(hsl(var(--main), 15%, 15%, 0.8), hsl(var(--main), 15%, 15%, 0.8)), url(https://assets.ppy.sh/beatmaps/{{ record['catch-rx']['set_id'] }}/covers/card.jpg); background-size: cover; background-position-x: 50%;">
        <div class="stat-mode-name">
          <i class="mode-icon mode-catch"></i> <a href="https://seventwentyseven.tk/score/{{ record['catch-rx']['id'] }}/rx" class="stat-mode-scorelink">Relax Catch Record</a>
        </div>
        <div class="stat-avatar-pp">
          <img src="https://a.seventwentyseven.tk/{{ record['catch-rx']['userid'] }}" class="stat-avatar-img" onError="this.src='/static/images/avatar_notwork.png';"><span> {{ record['catch-rx']['pp'] }}  <strong>PP</strong></span>
        </div>
        <div class="stat-user">
          <span>Played by <a href="https://seventwentyseven.tk/u/{{ record['catch-rx']['userid'] }}" style="font-weight: 500 !important;">{{ record['catch-rx']['name'] }}</a></span>
        </div>
      </div>
    </div>
    <div class="pp-mania-vn">
      <div class="stat-block" style="background: linear-gradient(hsl(var(--main), 15%, 15%, 0.8), hsl(var(--main), 15%, 15%, 0.8)), url(https://assets.ppy.sh/beatmaps/{{ record['mania-vn']['set_id'] }}/covers/card.jpg); background-size: cover; background-position-x: 50%;">
        <div class="stat-mode-name">
          <i class="mode-icon mode-mania"></i> <a href="https://seventwentyseven.tk/score/{{ record['mania-vn']['id'] }}/vn" class="stat-mode-scorelink">Vanilla Mania Record</a>
        </div>
        <div class="stat-avatar-pp">
          <img src="https://a.seventwentyseven.tk/{{ record['mania-vn']['userid'] }}" class="stat-avatar-img" onError="this.src='/static/images/avatar_notwork.png';"><span> {{ record['mania-vn']['pp'] }}  <strong>PP</strong></span>
        </div>
        <div class="stat-user">
          <span>Played by <a href="https://seventwentyseven.tk/u/{{ record['mania-vn']['userid'] }}" style="font-weight: 500 !important;">{{ record['mania-vn']['name'] }}</a></span>
        </div>
      </div>
    </div>
    <!-- Latest Users -->
    <div class="latest-users">
      <div class="latest-users-header">
        <span><i class="fas fa-users" style="margin-right: 5px;"></i>Recent Users</span>
      </div>
      {% for el in latest_users %}
        {{ l_usr_card(el['id'], el['name'], el['country'], el['time_ago'])}}
      {% endfor %}
    </div>
</section>
{% endif %}

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">What are you waiting for?</h1>
      <h2 class="subtitle">Join {{ appName() }}! It's risk-free! You won't get your account banned on official servers
        if
        you play here with us! And don't worry, as you can always switch between the official servers and us at any time!</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Sign up for free</a><a
          class="control button is-light" href="/login">Login</a></div>
    </div>
  </div>
</section>
{% endif %}

{% endblock %}
